*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    outline: 1px solid red;
}

:root{
    --dark-brown: #302414;
    --brown :#58351E;
    --black:#000; 
    --white: #fff;
    --font-tittle:"Noto Serif", serif;
    --font-copy:'Roboto', sans-serif;
    --footer-background:#F0F0F0;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #f1efef;
}

.container{
    width: 90%;
    margin: 0 auto;
}

/* ======= HEADER SECTION =======  */

.header__flex{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__checkbox{
    display: none;
}

.header__open-nav-button{
    font-size: 1.35rem;
    color: var(--dark-brown);
}

.header__open-nav-button:hover{
    color: var(--brown);
}

.fa-solid{
    font-size: 1.35rem;
    color: var(--dark-brown);
}

.fa-solid:hover{
    color: var(--brown);
}

.header__logo{
    font-family: "Noto Serif", serif;
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--dark-brown);
}

.header__logo:hover{
    color: var(--brown);
}

.hero__nav{
    display: none;
}

.header__open-nav-button, .fa-solid, .header__logo{
    cursor: pointer;
}

/* ======= HEADER SECTION END =======  */

/* ======= HEADER QUERIES START =======  */


@media screen and (min-width:850px){

    .header__flex{
        height: 90px;
    }

    .header__checkbox-container{
        display: none;
    }

    .hero__nav{
        display: block;
    }

    .hero__lists{
        list-style: none;
        display: flex;
        gap: 1.8rem;
    }

    .hero__items a{
        font-family: "Noto Serif", serif;
        font-size: 1.10rem;
        color: var(--dark-brown);
        text-decoration: none;
        font-weight: 500;
    }
}

/* ======= HEADER QUERIES ENDS =======  */


/* ======= HERO SECTION =======  */

.hero{
    width: 100%;
    height: 75vh;
    background-image: linear-gradient(180deg, #00000062, #0202027a),   url(img/hero\ img.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero__texts{
    width: 90%;
    color: var(--white);
    text-align: center;
}

.hero__tittle{
    display: flex;
    flex-direction: column;
    font-weight: 400;
    font-size: 1.25rem;
    letter-spacing: 0.0625rem;
    text-transform: uppercase;
    padding: 12px 0;
}

.hero__tittle::before{
    content: "";
    width: 80%;
    max-width: 320px;
    margin: 0 auto;
    height: 1px;
    background-color: var(--white);
    opacity: .5;
    margin-bottom: 12px;
}

.hero__tittle::after{
    content: "";
    width: 80%;
    max-width: 320px;
    margin: 0 auto;
    height: 1px;
    background-color: var(--white);
    opacity: .5;
    margin-top: 12px;
    margin-bottom: 12px;
}

.hero__span{
    font-size: 3rem;
    font-weight: 800;
    letter-spacing: 0.0625rem;
}

.hero__copy{
    font-size: .85rem;
    letter-spacing: 2px;
    font-weight: 400;
    text-transform: uppercase;
}

.sidebar{
    display: none;
}

.hero__sidebar{
    width: 250px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: fixed;
    justify-content: center;
    gap: 1rem;
}

.hero__sidebar{
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    background-color: rgba(252, 250, 250, 0.959);
    backdrop-filter: blur(10px);
    list-style: none;
}

.hero__items--sidebar a{
    display: inline-block;
    color: var(--black);
    text-decoration: none;
    font-weight: 400;
    font-size: 1.25rem;
    width: 250px;
    height: 50px;
    padding-left: 20px;
    line-height: 40px;
}

.hero__items--sidebar a:hover{
    background-color: var(--white);
    color: var(--dark-brown);
}

.fa-x{
    position: relative;
    top: -40px;
    left: 20px;
}

/* ======= HERO SECTION ENDS =======  */


/* ======= HERO SECTION QUERIES STARTS =======  */

@media screen and (min-width:800px){

    .hero__tittle{
        font-size: 3rem;
        font-weight: 300;
        letter-spacing: 0.0625rem;
    }

    .hero__span{
        font-size: 6rem;
        font-weight: 800;
        letter-spacing: 0.0625rem;
    }

    .hero__tittle::before{
        max-width: 620px;
        margin-bottom: 18px;
    }
    
    .hero__tittle::after{
        max-width: 620px;
        margin-top: 18px;
        margin-bottom: 12px;
    }
    
}

/* ======= HERO SECTION QUERIES ENDS =======  */


/* ======= ABOUT START =======  */

.container--80{
    width: 80%;
}

.about{
    padding: 60px 0 120px 0;
}

.about__texts{
    text-align: center;
}

.about__tittle{
    font-size: 2rem;
    color: var(--dark-brown);
    text-transform: uppercase;
    font-family: var(--font-tittle);
}

.about__tittle::after{
    content: "";
    display: block;
    margin: 6px auto;
    width: 40%;
    height: 1px;
    background-color: var(--brown);
    
}

.about__copy{
    color: var(--brown);
    text-transform: uppercase;
    margin-top: 10px;
    font-size: .85rem;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 60px;
}

.about__img{
    width: 100%;
    height: 230px;
    object-fit: cover;
}

.about__cards{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    text-align: center;
}

.about__card{
    max-width: 380px;
    margin: 0 auto;
    height: 560px;
    background-color: #ffff;
    outline: 1px solid #3024142c;
    padding-bottom: 1rem;
}


.about__card-tittle{
    margin: 1rem 0 0 0;
    font-size: 1.35rem;
    font-weight: 800;
    letter-spacing: 1px;
    color: var(--dark-brown);
    text-transform: uppercase;
}

.about__card-copy{
    height: 200px;
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-weight: 400;
    text-align: justify;
    color: var(--brown);
    line-height: 1.5;
    word-break: normal;
}

.about__card-tittle, .about__card-copy{
    padding: 0 16px;
}

.about__cta{
    text-decoration: none;
    display: inline-block;
    color: var(--dark-brown);
    outline: 1px solid var(--brown);
    background-color: #58351e00;
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 400;
    width: 150px;
    height: 35px;
    line-height: 35px;
    margin: 1rem 0 0 0;
}

.about__cta:hover{
    background-color: var(--dark-brown);
    color: var(--white);
}

/* ======= ABOUT END =======  */


/* ======= ABOUT QUERIES STARTS =======  */

@media screen and (min-width:800px){
    .about__cards{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
}

@media screen and (min-width:1200px){
    .about__cards{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 3rem 3rem;
    }

    .about__card--grid{
        grid-column: 2/3;
    }

    .about__cta{
        color: var(--dark-brown);
        outline: 1px solid var(--brown);
        background-color: #58351e00;
    }
    
    .about__cta:hover{
        background-color: var(--dark-brown);
        color: var(--white);
    }

    .about__tittle{
        font-size: 2.5rem;
    }

    .about__tittle::after{
        width: 20%;
    }

    .about__copy{
        font-size: 1rem;
    }
    


}

@media screen and (min-width:1600px){
    .about__cards{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    .about__card--grid{
        grid-column: 4/5;
    }

    .about__card{
        max-width: 400px;
    }
}

/* ======= ABOUT QUERIES ENDS =======  */


/* ======= BANNER START =======  */

.banner{
    width: 100%;
    height: 40vh;
    background-image: linear-gradient(180deg, #00000096, #020202c2), url(./img/homemade\ 2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;

}

.banner__text{
    color: var(--white);
    font-family: var(--font-tittle);
    font-size: 2.5rem;
    text-transform: uppercase;
    letter-spacing: 0.525rem;
    text-align: center;
}

/* ======= BANNER END =======  */



/* ======= DESSERT START =======  */


.dessert{
    width: 100%;
    text-align: center;
    padding: 4rem 0;
}

.dessert__tittle{
    font-size: 2rem;
    color: var(--dark-brown);
    text-transform: uppercase;
    font-family: var(--font-tittle);
}

.dessert__tittle::after{
    content: "";
    display: block;
    margin: 6px auto;
    width: 60%;
    height: 1px;
    background-color: var(--brown);
    
}

.dessert__copy{
    color: var(--brown);
    text-transform: uppercase;
    margin-top: 10px;
    font-size: .85rem;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 60px;
}

.dessert__img{
    width: 100%;
    object-fit: cover;
    box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.274);
    cursor: pointer;
}

.dessert__img:hover{
    opacity: .6;
}

.dessert__cards{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem 0;
}

.dessert__card{
    max-width: 380px;
    height: 400px;
}

.dessert__texts{
    margin-top: 1rem;
}

.dessert__name{
    text-transform: uppercase;
    font-family: var(--font-tittle);
    color: var(--dark-brown);
    margin-bottom: 7px;
    font-size: 1.65rem;
    letter-spacing: 0.10rem;
    font-weight: 800;
}

.dessert__info{
    color: var(--brown);
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 1.25rem;
    font-weight: 400;
}

/* ======= DESSERTS END =======  */


/* ======= DESSERT QUERIES START =======  */

@media screen and (min-width:1024px){
    .dessert__cards{
        padding: 1.5rem 0 1.5rem 0;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        justify-items: center;
        gap: 5rem 2rem;
    }

    .dessert__tittle::after{
        width: 30%;
    }

    .dessert__tittle{
        font-size: 2.5rem;
    }

    .dessert__copy{
        font-size: 1rem;
    }
}

/* ======= DESSERT QUERIES END =======  */

/* ======= BANNER SECTION START =======  */

.banner--second{
    background-image: linear-gradient(180deg, #00000096, #020202c2), url(/img/no\ se\ pero\ puede\ servirme.jpg);
}

.banner_text--second{
    width: 100%;
    text-align: center;
    font-size: 1.35rem;
}

/* ======= BANNER END =======  */

/* ======= BANNER QUERIES START =======  */

@media screen and (min-width:600px){
    .banner_text--second{
        font-size: 2rem;
    }
}

/* ======= BANNER QUERIES END =======  */

/* ======= COLD SECTION START =======  */

.cold{
    padding: 4rem 0;
    text-align: center;
    margin: 0 auto;
}

.cold__img{
    width:100%;
    max-width: 400px;
    max-height: 450px;
    cursor: pointer;
    object-fit: cover;
    box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.274);

}

.cold__img:hover{
    opacity: .7;
}

.cold__tittle--main{
    font-size: 2rem;
    color: var(--dark-brown);
    text-transform: uppercase;
    font-family: var(--font-tittle);
}

.cold__texts{
    padding: 1.5rem 0 0 0;
}

.cold__tittle--main::after{
    content: "";
    display: block;
    margin: 6px auto;
    width: 60%;
    height: 1px;
    background-color: var(--brown);
    
}

.cold__copy{
    color: var(--brown);
    text-transform: uppercase;
    margin-top: 10px;
    font-size: .85rem;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 60px;
}

.cold__tittle{
    text-transform: uppercase;
    font-family: var(--font-tittle);
    color: var(--dark-brown);
    margin-bottom: 7px;
    font-size: 1.65rem;
    letter-spacing: 0.10rem;
    font-weight: 800;
}

.cold__info{
    color: var(--brown);
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 1.25rem;
    font-weight: 400;
}

/* ======= COLD SECTION END =======  */


/* ======= COLD QUERIES START =======  */

@media screen and (min-width:1000px){
    .cold__grid{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 0 2rem;
    }

    .cold__tittle--main{
        font-size: 2rem;
    }

    .cold__copy{
        font-size: 1rem;
    }
}

/* ======= COLD QUERIES END =======  */

/* ======= BANNER SECTION START =======  */

.banner--third{
background-image: linear-gradient(180deg, #00000096, #020202c2), url(./img/final.jpg)
}

/* ======= BANNER SECTION END =======  */

/* ======= SHOP SECTION START =======  */

.shop{
    width: 100%;
    text-align: center;
    padding: 4rem 0;
}

.shop__tittle{
    font-size: 2rem;
    color: var(--dark-brown);
    text-transform: uppercase;
    font-family: var(--font-tittle);
}

.shop__tittle::after{
    content: "";
    display: block;
    margin: 6px auto;
    width: 60%;
    height: 1px;
    background-color: var(--brown);  
}

.shop__copy{
    color: var(--brown);
    text-transform: uppercase;
    margin-top: 10px;
    font-size: .85rem;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 60px;
}

.shop__img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    cursor: pointer;
}

.shop__cta{
    margin-top: 40px;
    text-decoration: none;
    display: inline-block;
    color: var(--white);
    background-color: var(--black);
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 400;
    width: 150px;
    height: 35px;
    line-height: 35px;
}


.shop__cta{
    color: var(--dark-brown);
    outline: 1px solid var(--brown);
    background-color: #58351e00;
}

.shop__cta:hover{
    background-color: var(--dark-brown);
    color: var(--white);
}

@media screen and (min-width:800px){
    .shop__img{
        width: 100%;
        height: 450px;
    }
}

@media screen and (min-width:1600px){
    .shop__img{
        width: 100%;
        height: 600px;
    }
}

/* ======= SHOP QUERIES END =======  */

/* ======= FOOTER SECCTION START =======  */

.footer{
    padding: 2rem 0 ;
    background-color: #1b1104;
    color: var(--white);
}


.footer__logo{
    color: var(--white);
}

.footer__texts{
    margin: 1.25rem 0 2.5rem 0;
    font-size: 1.105rem;
    font-weight: 300;
    line-height: 1.5;
}

.footer__grid{
    display: grid;
    gap: 0rem 1rem;
    grid-template-columns: repeat(2,1fr);
}

.footer__list{
    list-style: none;
}

.footer__name{
    font-size: 1rem;
    margin-bottom: 1rem;
}

.footer__list{
    font-size: .9rem;
    line-height: 2;
}

.footer__item--margin{
    margin-top: 2rem;
}

/* ======= FOOTER SECCTION START =======  */

/* ======= FOOTER SECCTION END =======  */


/* ======= FOOTER QUERIESS START =======  */

@media screen and (min-width:768px){
    .container__footer{
        margin-top: 4rem;
        width: 90%;
        display: flex;
        justify-content: space-between;
    }

    .footer__item{
        width: 200px;
    }

    .footer__info--container{
        width: 40%;
    }
    
    .footer__item--margin{
        margin: 0;
    }

    .footer__item{
        font-size: 1.5rem;
    }
}

.attribution{
    margin-top: 5rem;
    color: var(--white);
    text-decoration: none;
    text-align: center;
    font-weight: 300;
}
.cristian{
    color: var(--white);
    text-decoration: underline;
}